<h1 class="font-bold text-blue-500 text-base text-center pb-7">
  ¿No puedes iniciar sesión?
</h1>
<div>
  <div class="flex justify-center py-4">
    <img loading="lazy" class="w-40" src="" alt="logo" />
  </div>
  <p>TE ENVIAMOS UN LINK DE RECUPERACION</p>
  <p class="font-bold">aaaaaaa</p>
</div>
<form class="space-y-4" action="">
  <div>
    <div class="relative">
      <label class="text-xs font-semibold pb-1" for=""
        >Le enviaremos un enlace de recuperación a</label
      >
      <input
        class="w-full bg-gray-50 rounded border-2 border-gray-300"
        type="email"
      />
    </div>
    <div>
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        Este campo es obligatorio
      </p>
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        Este campo debe ser un correo electrónico.
      </p>
    </div>
  </div>
  <div class="relative">
    <app-btn routerLink="/app/boards" typeBtn="submit"
      >Enviar un enlace de recuperación</app-btn
    >
  </div>
</form>
